@import "variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $backgroundColor;
  color: $defaultTextColor;

  * {
    box-sizing: border-box;
  }

  a,
  a:hover {
    text-decoration: none;
  }

  a:active {
    color: initial;
	}

  h1 {
    font-size: 24px;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0px;
	}

  p {
    font-size: 16px;
    margin: 0;
		padding: 0;
		line-height: 150%;
  }

  select {
    border: 0;
    outline: 0;
  }

  textarea {
    resize: none;
    overflow: hidden;
  }

	.button {

		&:hover {

		}

		&:active {

		}

	}

  .noselect,
  .navbar-nav li,
  .material-icons,
  .button {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
	}

}
