extends LAYOUT.pug

block customCSS

block content
	h1 {{ greeting }}
	if ( env == 'development' )
		h1 You are in the development environment
		p This is all using development shit
		p well done
		a( href="https://www.youtube.com/watch?v=eh7lp9umG2I&t=1871s" ) Environment Information
	else if ( env == 'production' )
		h1 you are in a production environment
		p please dont't ruin anything.
		p i'm serious

block customJS
	script(src='/static/js/index.js')