extends LAYOUT.pug

block customCSS
	link(rel='stylesheet', href='/static/css/index.css', type='text/css')

block content
	.wrapper(:class='loginPrompt')
		.welcome
			h1 Hi {{ name }}

		h1 Your Todo List

		#todo
			.list-item(v-for='( task, key ) in tasks')
				a.delete-button(@click='remove( key )')
					i.fas.fa-times.fa-2x
				h4.title {{ task.title }}
				p.desc {{ task.desc }}
		
		.input-row
			input.input-title(type='text' placeholder='Title...' v-model='title')
			input.input-desc(type='text' placeholder='Type your task here...' v-model='desc' @keyup.enter='submit()')
			a.submit(@click.prevent='submit()') Submit

		.logout
			a.logout-button(@click='logout()') Logout
		
		.login-page(v-if='loginPrompt == "open"')
			h1.main-title Uh Oh!
			h1.sub-title We Can't Save Your Data
				br
				| Unless You Login First!
			a.login(@click='login()') Login With Google
block customJS
	script(src='/static/js/index.js')