doctype html
html(lang="en")
  include ./partials/_head.pug
  body
    #content
        block content

    //plugin JS
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js")

    script(src="/static/js/magicForm.js")
    script(src="/static/js/GLOBALS.js")
    if ( env == 'dev' )
        script(src="/static/js/vue.js")
    if ( env == 'prod' )
        script(src="/static/js/vue-prod.js")
        
    //custom JS
    block customJS