::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px !important;
  height: 8px !important; }

::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  box-shadow: inset 0 0 0 2px #e6e6e6 !important;
  background: #b3b3b3 !important;
  border-radius: 10px; }

::-webkit-scrollbar-track {
  -webkit-appearance: none;
  background: #e1e1e1 !important; }

* {
  transition: .1s ease-in-out; }

a:hover {
  cursor: pointer; }

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #e6e6e6; }
  body .wrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%; }
    body .wrapper .welcome {
      position: absolute;
      top: 10px;
      left: 10px; }
    body .wrapper h1 {
      font-weight: 100; }
    body .wrapper #todo {
      background-color: white;
      width: 500px;
      height: 400px;
      overflow-y: scroll;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      body .wrapper #todo .list-item {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        margin-top: 25px;
        position: relative; }
        body .wrapper #todo .list-item:first-of-type {
          margin-top: 0; }
        body .wrapper #todo .list-item .title, body .wrapper #todo .list-item .desc {
          margin: 40px 0 0 40px;
          font-size: 20px; }
    body .wrapper .input-row {
      display: flex;
      flex-flow: row;
      width: 500px; }
      body .wrapper .input-row input {
        border-top: 1px solid #e6e6e6;
        border-left: none;
        border-right: none;
        border-bottom: none;
        padding: 10px;
        font-size: 18px; }
      body .wrapper .input-row .input-title {
        border-bottom-left-radius: 3px;
        width: 20%;
        border-right: 1px solid #e6e6e6; }
      body .wrapper .input-row .input-desc {
        width: 60%; }
      body .wrapper .input-row .submit {
        width: 20%;
        padding: 10px 15px;
        background-color: #3fea86;
        color: white;
        text-align: center;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        line-height: 150%; }
        body .wrapper .input-row .submit:hover {
          background-color: #18de6a; }
    body .wrapper .login-page {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      display: flex;
      flex-flow: column;
      align-items: center;
      background-color: white;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 15%; }
      body .wrapper .login-page h1 {
        font-size: 28px; }
      body .wrapper .login-page .main-title {
        font-weight: 600; }
      body .wrapper .login-page .sub-title {
        margin-top: 0;
        font-weight: 100; }
      body .wrapper .login-page .login {
        background-color: #3fea86;
        color: white;
        border-radius: 3px;
        width: 10%;
        text-align: center;
        padding: 10px 15px;
        position: relative;
        font-size: 18px; }
        body .wrapper .login-page .login:hover {
          background-color: #18de6a; }
    body .wrapper .logout a {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #a6a6a6;
      text-decoration: underline; }
    body .wrapper .delete-button {
      color: #ff8686;
      position: absolute;
      left: 10px;
      top: 35px; }
      body .wrapper .delete-button:hover {
        color: #ff5353; }
